/*
    Put all of your CSS rules here
    You should end up with 40 selectors in total
*/

ul{
    padding: 0;
    margin:0;
    list-style: none;
}


.header{
    background-color: #242628;
    box-shadow: 0px 4px 7px rgba(0,0,0,.15);
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0px;
}

.header .navigation{
    display: flex;
}

.header .navigation a{
    display: inline-block;
    height: 72px;
    line-height: 72px;
    text-decoration: none;
    color: white;
    padding: 0 15px;
}

.header .navigation a:hover{
    background-color: #343536;
}

#site-logo{
    color: white;
    text-decoration: none;
    font-style: 200;
    padding: 6px 12px;
    border: 2px solid transparent;
}

#site-logo:hover{
    border: 2px solid white;
}


.main{
    display:flex;
    margin-top: 30px;
}

.posts{
    width: 800px;
    display:flex;
    margin-right: 30px;
    flex-wrap: wrap;
}

.post{
    background-color: #242628;
    padding: 15px;
    margin: 0px 15px 15px 0px;
    border: 1px solid #202020;
    border-radius: 3px;
    width: 300px;
    box-shadow: 0px 4px 7px rgba(0,0,0,.15);
}

.post-title{
    font-size: 24px;
    font-style: bold;
    margin-bottom: 15px;
    margin-top: 0px;
}

.post:hover{
    background-color: #202020;
}

.posts .post:first-of-type, .post:last-of-type{
    width: 100%;
    margin-right: 0;
}

.posts .post:first-child > .post-title{
    font-weight: 900;
    font-size:36px;
}

.posts:nth-child(odd){
    margin-right: 0;
}

.post-title a{
    color: white;
    text-decoration: none;
}

.post-teaser{
    font-weight: 300px;
}

